.heading {
    background-color: #4c9eaf;
    display: flex;
    justify-content: center;
    text-indent: 100px;
    padding: 5px 0;
}

.about-me {
    margin-top: 10px;
    font-size: 18px;
}

.img {
    display: flex;
    justify-content: center; /* Pushes items to the end (right) */
    align-items: center; /* Vertically centers items */
    width: 100%
}

.projects {
    font-size: 18px;
}